{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="contenedorDatosRecibidos">
    <!--Mensaje principal que confirma el registro exitoso del grupo #-->
    <h1 class="titulo">Grupo Registrado Correctamente</h1>
        <div class="datos">
    <!--Sección donde se muestran los datos enviados desde el formulario #-->
    <p><strong>Nombre del Equipo:</strong> {{ datos.nombreEquipo }}</p>
    <p><strong>Nombre del Líder:</strong> {{ datos.nombreJefe }}</p>
    <p><strong>Membresía:</strong> {{ datos.membresia }}</p>
    <p><strong>Cantidad de Integrantes:</strong> {{ datos.cantidad }}</p>
    <p><strong>Total: </strong>{{ datos.total }}</p>
    </div>
    <br>
    <a href="{% url 'registro_equipo' %}">Registrar otro equipo</a>
    </div>
    {% endblock %}
