{% extends "base.html" %} {% load static %} {% block content %}
<div class="contenedorFormulario">
  <!--- Formulario para registrar un nuevo equipo con sus datos principales -->
  <h1 class="titulo">Registro de Equipo</h1>

  <form action="" method="post">
    {% csrf_token %}
    <label>Nombre de Equipo</label> <br>
    <input type="text" name="nomEquipo" required /><br /><br />
    <!--Lista desplegable para seleccionar al líder del equipo -->
    <label>Nombre del Líder</label><br>
    <select name="nombreJefe" required>
      <option value="">-- Seleccione un líder --</option>
      <option value="Aguilar Machicado Nils Reiner">
        Aguilar Machicado Nils Reiner
      </option>
      <option value="Aguirre Chuquimia Ana Camila">
        Aguirre Chuquimia Ana Camila
      </option>
      <option value="Huanca Ancalle Lenny Daline">
        Huanca Ancalle Lenny Daline
      </option>
      <option value="Serrano Mamani Raquel Araceli">
        Serrano Mamani Raquel Araceli
      </option>
      <option value="Balboa Quispe Jhonathan Raul">
        Balboa Quispe Jhonathan Raul
      </option></select
    ><br /><br />
    <!-- para ingresar el número de membresía del equipo -->
    <label>Membresía</label><br>
    <input type="number" name="membresia" required /><br /><br />
    <!--Campo para indicar la cantidad total de integrantes del equipo -->
    <label>Cantidad de Integrantes</label><br>
    <input type="number" name="cantidad" required /><br /><br />
    <div class="botones">
    <button type="submit">Aceptar</button>
    <button type="reset">Cancelar</button>
    </div>
  </form>
</div>
{% endblock %}
