body {
    margin: 0;
    padding: 0;
    background-image: url("../img/fondo.jpeg");
    background-size: cover;
}

.contenedorFormulario, .contenedorDatosRecibidos {
    width: 40%;
    margin: 40px auto;
    background: rgba(255, 255, 255, 0.203);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 50px;
    
}
.datos {
    margin: 30px 20px 20px 60px;
    font-family: 'Poppins', sans-serif;
    color: #f3f8ff;
    font-size: medium;

}
a{
    font-family: 'Poppins', sans-serif;
    color: #f3f8ff;
    text-align: center;
    font-size: medium;
        
}
a:hover{
    color: rgb(9, 2, 21);
}
.titulo {
    font-family: 'Poppins', sans-serif;
    color: #f3f8ff;
    text-align: center;
    margin-top: 30px;
}
label {
    font-family: 'Poppins', sans-serif;
    color: #f3f8ff;
    text-align: left;
    padding: 10px 10px 0px 10px;
    background-color: #330949c1;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
input {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.203);
    border: none;
    width: 80%;
    font-size: medium;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    
}
select {
    font-family: 'Poppins', sans-serif;
    width: 85%;
    font-size: 15px;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.203);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.botones {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
button {
    font-family: 'Poppins', sans-serif;
    background-color: #3f3f3fb8;
    font-size: 15px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px; 
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    margin: 0px 20px;

}
button:hover {
    background-color: rgb(9, 2, 21);
    color: white;
}
option {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.493);
}


